.CardWrapper{
    margin-top: 20px;
    height: 300px;
    width: 200px;
    color: rgb(8, 8, 56);
    
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img{
        border-radius: 15px;
        width: 200px;
        box-shadow: rgba(235, 125, 198, 0.35) 0px 5px 15px;

    }
    
    
}
.textcontainer{
    text-align: left;
}
.price{
    color: red;
    line-height: 10px;
}